@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');

body{
    background: linear-gradient(90deg, #ff0000 0%, #000000 100%);
    font-family: Michroma , serif;
}


.navbar-light .navbar-nav .nav-link {
    color: aquamarine;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{

    color: red;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #e9ff1a;
}
.navbar-brand>img{
    width: 5em;
}
.navbar-toggler{
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #7ea564;
    border: 1px solid yellow;
    border-radius: .25rem;
    transition: box-shadow .15s ease-in-out;

    color: #e9ff1a;
}


.container-fluid {
    margin: 4px;
    padding: 2em;
    box-shadow: 10px 13px 8px 8px #000000;
}
.sidebar{
    color: aquamarine;
    background: linear-gradient(270deg, #ff0000 0%, #000000 100%);
margin-top: 0.5em;

}
.learn{
    margin: 1em;
    padding: 1em;
}
.card{
    background: linear-gradient(270deg, #ff0000 0%, #000000 100%);
    color: aquamarine;

}
.card a{
    text-decoration: none;
    color: aquamarine;
}
.slide-text ,
.footer-text{
    color: aquamarine;
    margin: auto auto;
}
@media (max-width: 700px) {
    .carousel-indicators {
    display: none;
    }
}
footer ,
.btn-outline-primary
{
    background: linear-gradient(270deg, #ff0000 0%, #000000 100%);

}
.mediy-lincks {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(270deg, #000000 0%, #ff0000 100%);

}
.mediy-lincks , p {
color: aquamarine;
}
.cal-anim{
    animation: cal 2s cubic-bezier(0.11, 0, 0.5, 0) 0s 1 normal none;}
@keyframes cal {
    0% {
        animation-timing-function: ease-in;
        opacity: 1;
        transform: translateY(-45px);
    }

    24% {
        opacity: 1;
    }

    40% {
        animation-timing-function: ease-in;
        transform: translateY(-24px);
    }

    65% {
        animation-timing-function: ease-in;
        transform: translateY(-12px);
    }

    82% {
        animation-timing-function: ease-in;
        transform: translateY(-6px);
    }

    93% {
        animation-timing-function: ease-in;
        transform: translateY(-4px);
    }

    25%,
    55%,
    75%,
    87% {
        animation-timing-function: ease-out;
        transform: translateY(0px);
    }

    100% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateY(0px);
    }
}